.title {
  width: 100%;
  max-width: 900px;
  margin: 100px auto;
}

.post {
  border-radius: 12px;
  margin-bottom: 44px;
  padding: 44px;
  background-color: #05d9ff;
}

.post:last-child {
  margin-bottom: 0;
}

.post>h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  color: rgb(0, 83, 208);
  text-transform: capitalize;
}

.post>p {
  font-size: 9px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.74;
  color: rgb(0, 0, 0);
}